.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .accordion-item {
        border-radius: 10px !important;
    }

    .accordion-button {
        border-radius: 10px !important;
        background-color: var(--color-beige);
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--color-brown);
        color: var(--color-beige-light);
    }

    .accordion-button:not(.collapsed)::after {
        background-image: var(--bs-accordion-btn-icon);
    }

    .accordion-button:focus {
        box-shadow: none;
    }
}

#hero {
    background: linear-gradient(rgba(253, 242, 223, 0.6), rgba(253, 242, 223, 0.6)),
        url('../img/background-hero.jpg') no-repeat center center;
    background-size: cover;
}